*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Montserrat , sans-serif; font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;

}
label{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}
input{
    padding: 7px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color: #e3e3e3;
}
button{
    padding: 8px;
    border: none;
    background: #e3e3e3;
    cursor: pointer;
    border-radius:10px;
    width: 50%;
    align-self: center;
    font-size: 16px;
}
.block{
    text-align: center;
    flex-direction: row;
}
.ap{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
    float: left;
}
.aq{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
    float: right;
}
.aw{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
}
.ae{
    color: #01215e;
    font-size: larger;
    margin: 10px 0;
    text-decoration: none;
    position: center;
}
.me{
    /*border: 2px solid #bb0000;*/
    /*border-radius: 3px;*/
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    color: #060906;
}
.pe{
    margin-top: 8px;
    align-self: center;
}
.me1{
    /*border: 2px solid #0cee38;*/
    /*border-radius: 3px;*/
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

html {
    background: url(../image/gradient_razmytost_abstraktsiia_157512_1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fon{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 100px;
}
.open_cabinet{
    margin-left: auto;
}
.cab1{
    text-decoration: none;
    color: #060906;
    font-weight: bold;
}
.cab2{
    margin-left: 20px;
    border: 2px solid #060906;
    background: #e3e3e3;
    border-radius:10px;
    text-decoration: none;
    color: #060906;
    font-weight: bold;
}
.logo{
    margin: 30px ;
}
.regist{
    display: flex;
    height: 100px;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}
footer{
    height: 50px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
}
#clock{
    font-family: Montserrat , sans-serif;
    color: #060906;
    font-size: 40px;
}





