*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Montserrat , sans-serif; font-size: 18px;
}
h1{
    font-size: 60px;
}
h2{
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 40px;
    background-color: white;
    border: 3px solid #060906 ;
    border-radius: 40px;
}
label{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}
input{
    padding: 7px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color: #e3e3e3;
}
button{
    padding: 8px;
    border: none;
    background: #e3e3e3;
    cursor: pointer;
    border-radius:10px;
    width: 50%;
    align-self: center;
    font-size: 16px;
}
.block{
    text-align: center;
    flex-direction: row;
}
.ap{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
    float: left;
}
.aq{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
    float: right;
}
.aw{
    color: #01215e;
    font-size: larger;
    margin: 5px 0;
    text-decoration: none;
}
.ae{
    color: #01215e;
    font-size: larger;
    margin: 10px 0;
    text-decoration: none;
    position: center;
}
.me{
    /*border: 2px solid #bb0000;*/
    /*border-radius: 3px;*/
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    color: #060906;
}
.pe{
    margin-top: 8px;
    align-self: center;
}
.me1{
    /*border: 2px solid #0cee38;*/
    /*border-radius: 3px;*/
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    background: url(../image/gradient_razmytost_abstraktsiia_157512_1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fon{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fon1{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 100px;
}
.open_cabinet{
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-self: center;

}
.open_cabinet p{
    display: flex;
    color: #060906;
    align-self: center;
    margin-left: 10px;

}
.open_cabinet a{
    margin-left: 20px;
    align-self: center;
}
.a1{
    margin-top: 50px;
}
.cab1{
    text-decoration: none;
    color: #060906;
    font-weight: bold;
    align-self: center;
    font-size: 25px;
}
.cab2{
    margin-left: 20px;
    border: 2px solid #060906;
    background: #e3e3e3;
    border-radius:10px;
    text-decoration: none;
    color: #060906;
    font-weight: bold;
    padding: 10px;
    font-size: 22px;
    align-self: center;

}
.logo{
    margin: 30px ;
}
.regist{
    display: flex;
    height: 100px;
    justify-content: center;
    align-self: center;
    font-size: 30px;
    width: 100%;
}
footer{
    height: 50px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
}
#clock{
    font-family: Montserrat , sans-serif;
    color: #060906;
    font-size: 40px;
}
.img1{
    border-radius: 100px;
    border: 5px #ccc solid;
    box-shadow: 0 0 10px #444;
    margin-bottom: 40px;
    align-self: center;
}
.avatar{
   margin-left: 20px;
}
/*.container{*/
/*    clear:both;*/
/*    flex-grow: 3;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*    */
/*}*/
/*.rightmp{*/
/*    float: right;*/
/*    width: 50%;*/

/*}*/
/*.leftmp{*/
/*    float: left;*/
/*    width: 50%;*/

/*}*/
.dropbtn {
    font-size: 16px;
    border: none;
    align-self: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-weight: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;


}

.dropdown-content a:hover {background-color: #7e7e7e;}

.dropdown:hover .dropdown-content {display: block;}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}
.submit{
    color: white;
    background-color: #1bbc9b;

}
.fon2{
    display: flex;
    flex-direction:row;
}







