*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: 'Montserrat';
}
button{
    margin: 10px;
    padding: 8px;
    border: 2px solid #060906;
    background: #e3e3e3;
    cursor: pointer;
    border-radius:10px;
    width: 150px;
    height: 70px;
    font-weight: bold;
    position: absolute;
    right:0;
}
html {
    background: url(../image/gradient_razmytost_abstraktsiia_157512_1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}